<h1>Editing planned_responce</h1>

<%= render 'form' %>

<%= link_to 'Show', [@planned_responce.subscription, @planned_responce] %> |
<%= link_to 'Back', subscription_planned_responces_path(@planned_responce.subscription) %>
